@font-face {
    src: url('../assets/fonts/Geist-Medium.otf') format("opentype");
    font-family: 'Geist';
}
body {
    overflow: hidden;
	background-color: #222;
}
* {
    font-family: 'Geist';
    color: white;
    user-select: none;
	margin: 0;
	padding: 0;
}
#game {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
#ui {
	position: fixed;
	left: 0;
	bottom: 0;
	margin: 20px;
	z-index: 2;
	font-size: 28px;
	transition: all 1.3s ease-in-out;
	pointer-events: none;
	text-align: center;
}
#levelName {
	transition: color 1s linear;
	white-space: nowrap;
}
#blocker {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s linear;
}
#tilesLit {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
	opacity: 0.5;
	pointer-events: none;
	transition: opacity 1s linear;
	margin: 20px;
}
.decorated {
	border: none;
	background-color: transparent;
	text-decoration: none;
	font-size: 28px;
	cursor: pointer;
	display: block;
	margin: 4px auto;
	color: black;
}
.decorated::after, .decorated::before {
	content: '';
	display: inline-block;
	width: 6px;
	height: 16px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-radius: 4px;
	transform: translateY(2px);
	margin-inline: 16px;
}
.decorated::after {
	border-right: 2px solid black;
}
.decorated::before {
	border-left: 2px solid black;
}
#winScreen {
	display: none;
}
#levelMenu {
	position: fixed;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
	z-index: 1;
}
.levelButton {
	border: none;
	background-color: white;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 6px;
	cursor: pointer;
	opacity: 0.2;
	transition: all 0.15s ease-out;
}
.levelButton:hover {
	opacity: 1;
	transform: scale(1.2);
}
.levelButton.locked {
	opacity: 0.05;
	pointer-events: none;
	transform: scale(0.8);
	filter: blur(2px);
}
