<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>pixiKickoff</title>
	<%= htmlWebpackPlugin.tags.headTags %>
</head>
<body>
	<%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
