<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lights on 2!</title>
	<%= htmlWebpackPlugin.tags.headTags %>
</head>
<body>
	<div id="ui">
		<span id="levelText">
			<span id="levelNumber">1</span>
			<span id="levelSeperator"> - </span>
			<span id="levelName"></span>
		</span>
		<div id="winScreen">
			<h1 id="winText">You Win!</h1>
			<button class="decorated" id="reset">Back to start</button>
			<a class="decorated" href="//lightson.warze.org">Try "Lights on!"</a>
		</div>
	</div>
	<div id="levelMenu"></div>
	<div id="tilesLit"></div>
	<div id="blocker">
	</div>
	<%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
