<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lights on 2!</title>

	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <meta name="viewport" content="width=640, initial-scale=1, shrink-to-fit=no, user-scalable=no" />

	<meta name="title" content="Lights on 2!">
    <meta name="description" content="Light up the entire room to win!">
    <meta name="keywords" content="puzzle, lights, lights out, lights on, leonhard, tissen, game, pixijs, pixi, warze, 2, lights on 2, sequel">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Leonhard Tissen">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lightson2.warze.org">
    <meta property="og:title" content="Lights on 2!">
    <meta property="og:description" content="Light up the entire room to win!">
    <meta property="og:image" content="https://lightson2.warze.org/meta.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@leonhard_tissen">
    <meta name="twitter:creator" content="@leonhard_tissen">
    <meta name="twitter:url" content="https://lightson2.warze.org/">
    <meta name="twitter:title" content="Lights on 2!">
    <meta name="twitter:description" content="Light up the entire room to win!">
    <meta name="twitter:image" content="https://lightson2.warze.org/meta.png">

    <meta name="theme-color" content="#111111">

	<%= htmlWebpackPlugin.tags.headTags %>
</head>
<body>
	<div id="ui">
		<span id="levelText">
			<span id="levelNumber">1</span>
			<span id="levelSeperator"> - </span>
			<span id="levelName"></span>
		</span>
		<div id="winScreen">
			<h1 id="winText">You Win!</h1>
			<button class="decorated" id="reset">Back to start</button>
			<a class="decorated" href="//lightson.warze.org">Try "Lights on!"</a>
		</div>
	</div>
	<div id="levelMenuButton">
		<svg width="50" height="50">
			<path d="M 10 15 L 40 15 M 10 25 L 40 25 M 10 35 L 40 35" stroke="white" stroke-width="5" stroke-linecap="round" />
		</svg>
	</div>
	<div id="levelMenuBackground">
		<div id="levelMenu" style="display: none;">
			<p>Level Select:</p>
		</div>
	</div>
	<div id="editorTiles" style="display: none;"></div>
	<div id="tilesLit"></div>
	<div id="blocker">
	</div>
	<%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
